p {
  border: 15px solid #4285f4;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  height: 300px;
  line-height: 4em;
  margin: 5px;
  text-align: center;
  width: 350px;
}

.north{
  background-color: #e67676;
}
.south{
  background-color: #a9e6e6;
}
