<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Fox Club</title>
</head>
<body>

<ul>
    <a href="">
        <li>Information</li>
    </a>
</ul>
<img src="greenfox.png" alt="GreenFox"/>
<p th:text ="'This is ' + ${name} + '. Currently living on ' + ${food} + ' and lemonade.  He knows ' + ${numberOfTricks} + ' tricks.'" />
<h1> Known tricks</h1>
<span th:if="${numberOfTricks} == 0 " th:text="'You know no tricks. Go and learn some.'"></span>
<ul>

</ul>
</body>
</html>